.tradutor-card,
.customers-card {
  max-width: 260px;
  border-radius: 16px;
  margin: auto 16px;
  cursor: pointer;
}

.tradutor-header-image {
  background-image: url("https://image.flaticon.com/icons/png/512/583/583860.png");
  background-size: cover;
}

.customers-header-image {
  background-image: url("https://image.flaticon.com/icons/png/512/209/209834.png");
  background-size: cover;
}

.ripple {
  width: 260px;
  max-height: 335px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.dashboard-content {
  max-width: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto;
  height: calc(100% - 60px);
}
