<div class="charts-area" role="main">
 
   <div class="total-customer">
    <!-- <apx-chart
    [series]="chartOptions?.series"
    [chart]="chartOptions?.chart"
    [xaxis]="chartOptions?.xaxis"
    [labels]="chartOptions?.labels"
    [colors]="chartOptions?.colors"
    [stroke]="chartOptions?.stroke"
    [fill]="chartOptions?.fill"
    [dataLabels]="chartOptions?.dataLabels"
    [plotOptions]="chartOptions?.plotOptions"
  ></apx-chart>
   </div>
 
   <div class="total-customer">
    <apx-chart
    [series]="chartSharedOptions?.series"
    [chart]="chartSharedOptions?.chart"
    [xaxis]="chartSharedOptions?.xaxis"
    [labels]="chartSharedOptions?.labels"
    [colors]="chartSharedOptions?.colors"
    [stroke]="chartSharedOptions?.stroke"
    [fill]="chartSharedOptions?.fill"
    [dataLabels]="chartSharedOptions?.dataLabels"
    [plotOptions]="chartSharedOptions?.plotOptions"

  ></apx-chart> -->
   </div>
   
</div>
<div class="dashboard-content" role="main">
    

    <mat-card class="tradutor-card ripple" matRipple
    [matRippleCentered]="true" [routerLink]="['/repescs']">
        <mat-card-header>
          <div mat-card-avatar class="tradutor-header-image"></div>
          <mat-card-title>Repescs</mat-card-title>
          <mat-card-subtitle>Tabela tradutor repesc</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/tradutor.png" alt="Photo of a Shiba Inu">
        
      </mat-card>

      <mat-card class="customers-card ripple" matRipple
    [matRippleCentered]="true" [routerLink]="['/customers']">
        <mat-card-header>
          <div mat-card-avatar class="customers-header-image"></div>
          <mat-card-title>Clientes</mat-card-title>
          <mat-card-subtitle>Massa de testes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/my-customers.png" alt="Photo of a Shiba Inu">
        
      </mat-card>

      <app-hello-word></app-hello-word>
</div>