:root {
  --row-colored: #ccc;
  --row-colored-deadline: rgb(247, 208, 223);
  --drawer-background-color: rgb(182, 181, 181);
  --drawer-avatar-background-color: rgb(254, 0, 100, 1);
  --drawer-avatar-color: #fff;
  --primary-color: #fe7f00;
  --greyscale-001: rgba(245, 247, 248, 0.973);
  --greyscale-002: rgba(121, 119, 119, 1);
  --greyscale-003: rgb(156, 156, 156, 1);
  --oranged-001: rgb(240, 221, 193, 1);
  --oranged-002: rgb(239, 200, 171, 1);
  --oranged-003: rgb(255, 150, 20, 1);
  --oranged-004: rgb(255, 85, 20, 1);
  --yellow-001: rgb(252, 248, 201);
}

$primary-color: #fb5305;
$white-000: #fff;

$greyscale-001: rgba(245, 247, 248, 0.973);
$greyscale-002: rgba(121, 119, 119, 1);
$greyscale-003: rgb(156, 156, 156, 1);

$oranged-001: rgb(240, 221, 193, 1);
$oranged-002: rgb(239, 200, 171, 1);
$oranged-003: rgb(255, 150, 20, 1);
$oranged-004: rgb(255, 85, 20, 1);

$blue-indigo-004: rgb(0, 113, 109, 1);

$black-grey-001: rgb(46, 46, 45, 1);

.text-color-grey-002 {
  color: $greyscale-002;
}

.text-color-primary {
  color: $primary-color !important;
}

.tool-bar-green-004 {
  background-color: $blue-indigo-004;
}

.success {
  background-color: var(--bs-success);
}
