/**
* Max Width xl
*/
$max-w-xl: 36rem, 42rem, 48rem, 56rem, 64rem, 80rem;

@each $mx in $max-w-xl {
  $nr: "";
  @if $mx == 36rem {
    $nr: "";
  }

  @if $mx == 42rem {
    $nr: "2";
  }

  @if $mx == 48rem {
    $nr: "3";
  }

  @if $mx == 56rem {
    $nr: "4";
  }

  @if $mx == 64rem {
    $nr: "5";
  }

  @if $mx == 80rem {
    $nr: "7";
  }

  .max-w-#{$nr}xl {
    max-width: $mx;
  }
}

$t: 0;

@while $t < 16 {
  .mt-#{$t * 4} {
    margin-top: #{$t * 4}px !important;
  }

  .mb-#{$t * 4} {
    margin-bottom: #{$t * 4}px !important;
  }

  .ml-#{$t * 4} {
    margin-left: #{$t * 4}px !important;
  }

  .mr-#{$t * 4} {
    margin-right: #{$t * 4}px !important;
  }

  $t: $t + 1;
}

.w-full {
  width: 100%;
}

.margin-auto-16 {
  margin: auto 16px !important;
}

.margin-auto-24 {
  margin: auto 24px !important;
}

.margin-auto-32 {
  margin: auto 32px !important;
}

.margin-t-auto-70 {
  margin: 70px auto !important;
}
.margin-t-auto-32 {
  margin: 32px auto !important;
}
.no-padding {
  padding: 0px !important;
}
