<div class="modal-container">

    <div class="mat-dialog-title">
        Atualização tabela tradutor
    </div>
    <div class="mat-dialog-subtitle mt-24 mb-24 ">
        <app-fileupload
            requiredTypeFile="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/comma-separated-values">
        </app-fileupload>
    </div>
    <div class="mat-dialog-notice mt-16 mb-16 warning" [innerHTML]="dictionary.UPALOAD_DESCRIPTION">
    </div>


    <div mat-dialog-actions>
        <button mat-raised-button type="button" color="accent" (click)="onNoClick()">
            <span> Fechar </span>
        </button>
    </div>


    <div mat-dialog-actions>

    </div>
</div>