<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav class="sidenav" mode="over" position="end">
    <div class="drawer-right-details-header">
      <div class="drawer-avatar">
        <div class="drawer-avatar-content">
          {{ avatarFirstLetter?.firstName | uppercase }}
        </div>
      </div>

      <div class="btn-close-mat-drawer">
        <button mat-icon-button (click)="sidenav.close()" aria-label="Fechar dados de edição da repesc">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="list-contact margin-t-auto-70">
      <div class="list-contact-header text-size-24 flex-row ml-16">
        {{ selectedData?.description}}
      </div>
      <div class="text-size-12 text-subtitle ml-16">Codigo Repesc: {{ selectedData?.code }}</div>
      
    </div>
    <mat-divider></mat-divider>

    <mat-card>
      <mat-card-title>CPF Range: {{ selectedData?.range_cpf_digit }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <button mat-raised-button type="button" color="accent" (click)="openGenerateDialog($event,true,selectedData?.code)" >
          <span > Gerar cliente para repesc {{ selectedData?.code }} </span>
      </button>
        </mat-card-content>
    </mat-card>
  </mat-drawer>


  <mat-drawer-content>
    <mat-toolbar class="mb-32" *ngIf="user.isAdmin">
      <span class="text-subtitle">Atualizar tabela</span>
      <span class="--spacer"></span>
      <button mat-icon-button class="example-icon accent" (click)="openDialog($event, true)" aria-label="Atualizar tabela repesc">
        <mat-icon>upload_file</mat-icon> 
      </button>
      
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>edit_note</mat-icon>
      </button> -->
      <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
    <mat-card >
      <mat-card-title>Tradutor Repesc</mat-card-title>
      <mat-card-content>
        <table matSort (matSortChange)="sortData($event)" class="table full-size-80">
          <thead class="table-header custom-table-header">
            <tr class="row row-header">
              <th *ngFor="let th of tableHeader" mat-sort-header="{{th.id}}"> {{ th.text }}</th>
            </tr>
          </thead>
          <tbody class="custom-tbody">
            <tr *ngFor="let element of sorted" (click)="onRowClicked(element); sidenav.toggle()" class="row hover-row">

              <td class="cell-row">{{element.range_cpf_digit}}</td>
              <td class="cell-row"> {{element.code}}

              </td>
              <td class="cell-row" [ngClass]="{'colored': element.forwardScreen != '0'}"> {{element.forwardScreen}}
              </td>
              <td class="cell-row  text-left"> {{element.description}}</td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_puro > '0'}">
                {{element.products.cp_puro}}</td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_auto > '0'}">
                {{element.products.cp_auto}}</td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_moto > '0'}">
                {{element.products.cp_moto}}</td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_renda > '0'}">
                {{element.products.cp_renda}}</td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cdc > '0'}">
                {{element.products.cdc}}</td>
              <td class="cell-row center " [ngClass]="{'colored': element.products.cartao > '0'}">
                {{element.products.cartao}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>



</mat-drawer-container>