@import "./src/assets/scss/colors.scss";
@import "./src/assets/scss/typography.scss";

.form-update-repesc {
  display: flex;
  flex-direction: column;
  margin: 72px auto;
  justify-items: center;
  align-items: center;

  .form-update-repesc-title {
    @include ty-title;
    position: absolute;
    top: 35px;
    left: 45px;
    color: $white-000;
  }
}

.--spacer {
  flex: 1 1 auto;
}

.mat-drawer {
  width: auto;
}

@media screen and (max-width: 540px) {
  .mat-drawer {
    width: 100%;
  }
}

.mat-input-element {
  &.text-right {
    text-align: right !important;
  }
}

.contacts-detail-description {
  position: absolute;
  width: auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin: 186px 128px;
  font-weight: 500;
}

tr.hover-row:not(.example-expanded-row):hover {
  background: $greyscale-001;
  cursor: pointer;
}

tr.hover-row:nth-child(n) {
  text-align: center;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  position: fixed;
  z-index: 1;
}
mat-card.mat-card.mat-focus-indicator {
  margin: 82px auto;
}

.table-header { 
  &.custom-table-header{
    th:nth-child(4) {
      text-align: center  !important;
    }
    :nth-child(1) {
      width: 8% !important;
    }
  }
}

.table>:not(caption)>*>*:nth-child(4) {
    text-align: left  !important;
    text-transform: capitalize;
    :nth-child(1) {
      text-align: center  !important;
    }
}

.list-contact-header {
  text-transform: capitalize;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  position: sticky;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.invalid {
  color: red !important;
}