<mat-drawer-container class="sidenav-container" autosize [hasBackdrop]="true">
  <mat-drawer #sidenav class="sidenav"  mode="over" position="end">
    <div class="drawer-right-details-header">
      <div class="drawer-avatar">
        <div class="drawer-avatar-content">
          {{ selectedData?.forwardScreen | uppercase }}
        </div>
      </div>

      <div class="btn-close-mat-drawer">
        <button mat-icon-button (click)="sidenav.close()" aria-label="Fechar dados de edição da repesc">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="list-contact margin-t-auto-70">
      <div class="list-contact-header text-size-24 flex-row ml-16 mb-32">
        Forward Screen
      </div>
      <div class="text-size-12 text-subtitle ml-16">Codigo Repesc: {{ selectedData?.code }}</div>
      <div class="text-size-12 text-subtitle ml-16">Forawrd Screen: {{ selectedData?.forwardScreen }}</div>      
      <div class="text-size-12 text-subtitle ml-16" >CPF Range 6 e 7 digito:: 
        <span [ngClass]="{'invalid': selectedData?.range_cpf_digit == '?????'}"> 
          {{ selectedData?.range_cpf_digit == '?????' ? 'Sem range de CPF - Cliente aleatorio' : selectedData?.range_cpf_digit }}
        </span>
      </div>      
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="
    selectedData?.products.cp_puro > '0' ||
    selectedData?.products.cp_auto > '0' ||
    selectedData?.products.cp_moto > '0' ||
    selectedData?.products.cp_renda > '0' ||
    selectedData?.products.cdc > '0' ||
    selectedData?.products.cartao > '0' ||
    selectedData?.products.fgts > '0'
    ">
      <div class="text-subtitle ml-16 text-size-16 flex-row ml-16 mb-8 mt-16">
        Produtos contido para repesc
      </div>
    <br>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.cp_puro > '0'? 'CP PURO' : '' }}</div>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.cp_auto > '0'? 'CP AUTO' : '' }}</div>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.cp_moto > '0'? 'CP MOTO' : '' }}</div>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.cp_renda > '0'? 'CP RENDA' : '' }}</div>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.cdc > '0'? 'CDC' : '' }}</div>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.cartao > '0'? 'CARTAO' : '' }}</div>
      <div class="text-size-12 text-subtitle ml-16">{{ selectedData?.products.fgts > '0'? 'FGTS' : '' }}</div>
      <br>
    <mat-divider></mat-divider>
  </div>
   <div class="txt-center">
        <div class="mat-dialog-notice mt-16 mb-16 ml-8 mr-8 primary" [innerHTML]="dictionary">
        </div>
     <div class="flex-row center">
       
        <button mat-raised-button type="button" color="accent" (click)="openGenerateDialog($event,true,selectedData?.code)">
          <span> Gerar cliente para repesc {{ selectedData?.code }} </span>
        </button>
       </div>
       
     </div>
  </mat-drawer>


  <mat-drawer-content>
    <mat-toolbar class="mb-32" *ngIf="user.isAdmin">
      <span class="text-subtitle">Atualizar tabela</span>
      <span class="--spacer"></span>
      <button mat-icon-button class="example-icon accent" (click)="openDialog($event, true)" aria-label="Atualizar tabela repesc">
        <mat-icon>upload_file</mat-icon> 
      </button>
    </mat-toolbar>
    <div class="lottie-table-not-data" *ngIf="!sorted">
      
      <ng-lottie width="400px"
      height="400px"
      containerClass="lottie-table-not-data"
      [styles]="styles"
      [options]="options" 
      (animationCreated)="animationCreated($event)">
    
    </ng-lottie>
    <div class="text-table-load text-subtitle mt-32 text-center">
      Aguarde!, estamos carregando os dados
    </div>
    </div>
    <mat-card *ngIf="sorted" >
      <mat-card-title>Tradutor Repesc</mat-card-title>
      
      <mat-card-content>
        <table matSort (matSortChange)="sortData($event)" class="table full-size-80" >
          <thead class="table-header custom-table-header">
            <tr class="row row-header" >
              <th *ngFor="let th of tableHeader" mat-sort-header="{{th.id}}" > {{ th.text }}</th>
            </tr>
          </thead>
          <tbody class="custom-tbody">
            <tr *ngFor="let element of sorted" (click)="onRowClicked(element); sidenav.toggle()" class="row hover-row stick">

              <td class="cell-row">{{element.range_cpf_digit}}</td>
              <td class="cell-row"> {{element.code}}

              </td>
              <td class="cell-row" [ngClass]="{'colored': element.forwardScreen != '0'}"> {{element.forwardScreen}}
              </td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_puro > '0'}">
                {{element.products.cp_puro}}</td>
                <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.cp_puro_deadline > '0'}">
                  {{ element.products.cp_puro_deadline > '0' ? element.products.cp_puro_deadline + 'x' : element.products.cp_puro_deadline }} 
                </td>
                
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_auto > '0'}">
                {{element.products.cp_auto}}</td>
                <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.cp_auto_deadline > '0'}">
                  {{ element.products.cp_auto_deadline > '0' ? element.products.cp_auto_deadline + 'x' : element.products.cp_auto_deadline}} 
                </td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_moto > '0'}">
                {{element.products.cp_moto}}</td>
                <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.cp_moto_deadline > '0'}">
                  {{ element.products.cp_moto_deadline > '0' ? element.products.cp_moto_deadline + 'x' : element.products.cp_moto_deadline }} 
                </td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cp_renda > '0'}">
                {{element.products.cp_renda}}
              </td>
                <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.cp_renda_deadline > '0'}">
                  {{ element.products.cp_renda_deadline > '0' ? element.products.cp_renda_deadline + 'x' : element.products.cp_renda_deadline }} 
                </td>
              <td class="cell-row center" [ngClass]="{'colored': element.products.cdc > '0'}">
                {{element.products.cdc}}
              </td>
                <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.cdc_deadline > '0'}">
                  {{ element.products.cdc_deadline > '0' ? element.products.cdc_deadline + 'x' : element.products.cdc_deadline }} 
                </td>
              <td class="cell-row center " [ngClass]="{'colored': element.products.cartao > '0'}">
                {{element.products.cartao}}
              </td>
                <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.cartao_deadline > '0'}">
                  {{ element.products.cartao_deadline > '0' ? element.products.cartao_deadline + 'x' : element.products.cartao_deadline }} 
                </td>
                  <td class="cell-row center" [ngClass]="{'colored': element.products.fgts > '0'}">
                    {{element.products.fgts}}
                  </td>
                  <td class="cell-row center" [ngClass]="{'colored-deadline': element.products.fgts_deadline > '0'}">
                    {{ element.products.fgts_deadline > '0' ? element.products.fgts_deadline + 'x' : element.products.fgts_deadline }} 
                  </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>



</mat-drawer-container>