@import "./src/assets/scss/colors.scss";
@import "./src/assets/scss/typography.scss";
@import "./src/assets/scss/screen.scss";

.mat-dialog-actions {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -24px;
  align-items: baseline;
  justify-content: center;
}

.loading-buton.ng-star-inserted {
  width: 136.36px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 36.3px;
  color: rgb(16 146 1);
  &.primary {
    color: #fff;
  }
}
span.invalid.ng-star-inserted {
  margin: 11px auto;
  font-size: 75%;
  position: absolute;
  margin-top: 0.6666666667em;
  top: calc(100% - -0.108222em);
  color: red;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.mat-dialog-notice {
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background: aliceblue;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
  font-size: 18px;
}
