@import "./src/assets/scss/colors.scss";
.file-input {
  display: none;
}
.file-upload {
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--greyscale-002);
    border-radius: 8px;
    padding: 0px 0px 0px 16px;
  button {
    background-color: transparent !important;
    border: 0.8px groove;
    border-color: var(--primary-color);
    color: var(--primary-color);
    align-items: center;
    mat-icon {
      right: 0px;
      vertical-align: baseline !important;
    }
  }
}

.progress {
  display: flex;
  height: 0rem;
  overflow: visible;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin: 16px 0;
  align-items: center;

  mat-icon {
    color: var(--primary-color);
  }
}

.mat-progress-bar-fill::after {
  background-color: va(--bs-warning);
}
